
@{
    ViewData["Title"] = "О журнале";
}

<h1>О журнале</h1>
<p>Научный, научно-образовательный, междисциплинарный журнал с базовой специализацией в области информатики, автоматизации и прикладной математики. Издается в печатной и онлайн версиях. Печатная версия издается с 2002 г. Онлайн версия издается с 2010 г. Выходит 6 раз в год.</p>

